:root {
    font-size: 12pt;
}

.lista_eventos {
    display: flex;
    flex-direction: column;
    background-color: #ccc;
    gap:2rem;
    padding: 1rem 1rem;
}

.evento {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 3px 2px 3px black;
}

.foto img {
    width:10rem;
    height: 10rem;
    margin: 2.4rem;
    border-radius: 30px 10px;
    border: 5px solid white;
    box-shadow: 5px 2px 3px black;
    object-fit: cover;
}

.tipo_evento, .detalles button {
    background: greenyellow;
    padding: 0.5rem;
    border-radius: 6px;
    font-weight: bold;
}

.detalles button {
    background-color: #4ab3f4;
    padding: 0.8rem;
    margin-left: 1rem;
}

.pago {
    background-color: red;
    color:white;
}

.localizacion {
    margin-left: 1.8rem; 
}

.localizacion, .calendario {
    font-size:1.5rem;
}